.move{
    display: flex;
    text-align: center;
    margin-top: 100px;
    justify-content: center;
    font-weight: 200;
    font-style: bold;
}
.card-container{
    place-items: center;
    margin-bottom: 50px;
}
.rounded{
    display: flex;
    width: 40%;
    height: 40%;
    margin-bottom:50px;
}
.why-move{
    margin-left: 100px;
}